<div id="card" *ngIf="film">
  <ion-list *ngFor="let film of list | orderBy">
    <div id="film-title-container">
      <ion-card id="single-card">
        <ion-item-sliding>
          <ion-item (click)="selectFilm(film.id)">
            <ion-label
              ><div id="ion-label">
                <div id="film-details-container">
                  <h2 [appCustomDirective]="film.rating.averageRating < 5">
                    {{film.title}}
                  </h2>
                  <div id="title-year">
                    <p><i>{{(film.rating.averageRating | toInt) }} / 5</i></p>
                    <p>{{film.year}}</p>
                  </div>
                </div>
              </div>
              <div  *ngFor="let actor of film.cast">
                <p id="actor-details"
                  *ngIf="actor.category === 'actor' || actor.category=== 'actress' "
                >
                   {{actor.celebrityName}}
                </p>
              </div>
              </ion-label
            >
          </ion-item>

          <ion-item-options>
            <ion-item-option (click)="editFilm(film.id)">
              <ion-icon slot="icon-only" name="create-outline"></ion-icon>
            </ion-item-option>
            <ion-item-option (click)="deleteFilm(film.id)">
              <ion-icon
                color="danger"
                slot="icon-only"
                name="close-outline"
              ></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>

        <app-range-wrapper
          *ngIf="film.rating.averageRating"
          [rangeValue]="film.rating.averageRating"
        ></app-range-wrapper>
      </ion-card>
      <p id="genres-label"><small>{{film.genres}}</small></p>
    </div>
  </ion-list>
</div>
