<ion-tabs>

  <ion-tab-bar slot="bottom" id="bottom-toolbar">
    <ion-tab-button tab="films" href="/tabs/films" class="bottom-toolbar-btn">
      <ion-icon name="videocam"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="celebrities" href="/tabs/celebrities" class="bottom-toolbar-btn">
      <ion-icon name="star"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile" class="bottom-toolbar-btn">
      <ion-icon name="person"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
