<ion-tabs id="tabs">

  <ion-tab-bar slot="bottom" id="bottom-toolbar">
    <ion-tab-button tab="films" href="/tabs/films" >
      <ion-icon name="videocam" class="tab-icon"></ion-icon>
      <ion-label>Films</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="celebrities" href="/tabs/celebrities" >
      <ion-icon name="star"></ion-icon>
      <ion-label>Celebrities</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile" >
      <ion-icon name="person"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
