ion-title {
  text-align: center;
}


ion-range{
    max-width: 90%;
    margin: 0.5rem auto;
}

ion-input{
  max-width: 80%;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.264);
}

/* #label{
  position : absolute
} */

#rating-range-container{
  position: relative;
 p{
  color: white;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
 }
  
}