ion-title {
  text-align: center;
}

ion-range {
  max-width: 90%;
  margin: 0.5rem auto;
}

ion-searchbar {
  background-color: rgba(255, 255, 255, 0.123);
}

#rating-range-container {
  position: relative;
  p {
    color: white;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

ion-footer {
  position: absolute;
  bottom: 5rem;
  background-color: #040a5f;
}
