.profile-img{
  position: relative;
  margin-bottom: 1rem;
  transition: margin-bottom 0.3s
}



#add-pic-button{
  width: 1.5rem;
  height: 1.5rem;
}

#ion-fab-selector{
  position: absolute;
  bottom: -5px;
  right: -5px;
}

.space{
  position: relative;
  margin-bottom: 6.5rem;
  transition: margin-bottom 0.3s ;
}