
  <div id="profile-selector">
    <ion-avatar id="profile-img">
      <img
      alt="Silhouette of a person's head"
      [src]="imgSrc"
      />
    </ion-avatar>
  </div>
  <section id="user-details-body">
    <ion-list id="user-details">
      <ion-item>
        <ion-label>Username : Stefano Macina Leone</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Email : s.macinaleone&#64;gmail.com</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Expiration date : 19/11/2023</ion-label>
      </ion-item>
    </ion-list>
    <ion-button id="manage-btn" fill="outline">Manage profile</ion-button>
    <ion-button (click)="addProfilePic()" fill="outline">Add profile pic</ion-button>
    <ion-button (click)="removeProfilePic()" color="danger" fill="outline">Remove profile pic</ion-button>
  </section>
